/* --- layout --- */
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.main-wrapper {
	padding: 60px;
	padding-right: 350px;
	font-size: 16px;
	font-weight: 500;
}

.sidebar-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
	height: 100%;
	min-height: 800px;
}

/* --- side bar ---*/

.card-header{
	padding: 30px;
	text-align: center;
}


.avatar{
	max-width: 100px;
	margin-bottom: 15px;
	border: 0px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.name {
	font-size: 32px;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 10px;
}

.tagline {
	font-size: 18px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.card-header h3{
	margin: 5px 0px;
}

.card-header h5{
	font-weight: normal;
}

.card-body {
	padding: 0px;
}

.container-block ul{
	list-style-type: none;
	font-size: 16px;
	padding-left: 0px;
}


.contact-container i{
	padding-right: 7px;
}

.contact-container li{
	padding: 5px 0px;
}

.container-block {
	padding: 30px;
}

.container-block-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 15px;
}

.degree {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 650;
}

.education-container .item {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.education-container .meta {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 0;
}

.education-container .time {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0px;
}

.education-container ul{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: #868e96;
}

.education-container li{
	padding: 3px 0px;
}

.lang-desc {
	color: #868e96;
}

/*--- main wrapper ---*/
.section-title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
	color: #0085A1;
}

section {
	margin-bottom: 60px;
}

p {
	margin: 0;
}

.skillset .item {
	margin-bottom: 15px;
	overflow: hidden;
}
.level-title {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: 600;
}
.level-bar {
	height: 14px;
	background: #f5f5f5;
}
.level-bar-inner {
	height: 14px;
	background: #7bc2d3;
}

.job-title {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

.upper-row {
	position: relative;
	overflow: hidden;
	margin-bottom: 2px;
}

.main-wrapper .time {
	position: absolute;
	top: 0;
	right: 0;
	color: #868e96;
}

.company {
	color: #868e96;
	margin-bottom: 10px;
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {

	body{
		padding: 0;
	}

	.sidebar-wrapper {
		position: static;
		width: inherit;
	}

	.main-wrapper {
		padding: 30px;
	}

	.main-wrapper .time {
		position: static;
		display: block;
		margin-top: 5px;
	}

	.main-wrapper .upper-row {
		margin-bottom: 0;
	}


}
/* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.skillset .level-title {
		display: inline-block;
		float: left;
		width: 30%;
		margin-bottom: 0;
	}

	.skillset .level-bar {
		display: inline-block;
		width: 70%;
		float: left;
		position: relative;
		top: 1px;
	}


}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {

}

/* End of responsive review */