body {
  background: lightblue url("https://rileys-bootstrap-blog.github.io/img/toothpick.gif") no-repeat fixed center;
  background-size: cover;
}

.year, .letter {
  background-color: white;
   opacity: 0.5;
}

.year:hover, .letter:hover {
  background-color: white;
  opacity: 1;
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}
