// Styling for the masthead
header.masthead {
    // NOTE: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: $gray-light;
    background-attachment: scroll;
    @include background-cover;
    .site-heading,
    .post-heading,
    .page-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 150px 0;
        }
    }
    .site-heading,
    .page-heading {
        text-align: center;
        h1 {
            font-size: 50px;
            margin-top: 0;
        }
        .subheading {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin: 10px 0 0;
            @include sans-serif-font;
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }
    .post-heading {
        h1 {
            font-size: 35px;
        }
        .subheading,
        .meta {
            line-height: 1.1;
            display: block;
        }
        .subheading {
            font-size: 24px;
            font-weight: 600;
            margin: 10px 0 30px;
            @include sans-serif-font;
        }
        .meta {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            @include serif-font;
            a {
                color: white;
            }
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
            }
            .subheading {
                font-size: 30px;
            }
        }
    }
}
