// Styling for the post page
.post-preview {
    > a {
        color: $gray-dark;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $theme-primary;
        }
        > .post-title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        > .post-subtitle {
            font-weight: 300;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    > .post-meta {
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        color: $gray-light;
        > a {
            text-decoration: none;
            color: $gray-dark;
            &:hover,
            &:focus {
                text-decoration: underline;
                color: $theme-primary;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        > a {
            > .post-title {
                font-size: 36px;
            }
        }
    }
}
