@import "variables.scss";
@import "mixins.scss";
// Global Components
body {
    @include serif-font;
    font-size: 20px;
    color: $gray-dark;
}

// Typography
p {
    line-height: 1.5;
    margin: 30px 0;
    a {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
    font-weight: 800;
}

a {
    @include transition-all;
    color: $gray-dark;
    &:hover,
    &:focus {
        color: $theme-primary;
    }
}

a img {
    &:hover,
    &:focus {
        cursor: zoom-in;
    }
}

blockquote {
    color: $gray-light;
    font-style: italic;
}

// Navigation
#mainNav {
    background-color: white;
    border-bottom: 1px solid $gray-lighter;
    position: absolute;
    @include sans-serif-font;
    .navbar-brand {
        color: $gray-light;
        font-weight: 800;
    }
    .navbar-toggler {
        color: $gray-light;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 12px;
        padding: 13px;
    }
    .navbar-nav {
        > li.nav-item {
            > a {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        background: transparent;
        border-bottom: 1px solid transparent;
        .navbar-brand {
            color: white;
            padding: 20px;
            &:hover,
            &:focus {
                color: fade-out(white, .2);
            }
        }
        .navbar-nav {
            > li.nav-item {
                > a {
                    color: white;
                    padding: 20px;
                    &:hover,
                    &:focus {
                        color: fade-out(white, .2);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -87px;
            background-color: fade-out(white, .1);
            border-bottom: 1px solid darken(white, .05);
            -webkit-transition: -webkit-transform 0.2s;
            -moz-transition: -moz-transform 0.2s;
            transition: transform 0.2s;
            .navbar-brand {
                color: $gray-dark;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav {
                > li.nav-item {
                    > a {
                        color: $gray-dark;
                        &:hover,
                        &:focus {
                            color: $theme-primary;
                        }
                    }
                }
            }
        }
        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }
}

// Header
.intro-header {
    background-color: $gray-light;
    background: no-repeat center center;
    background-attachment: scroll;
    @inlcude background-cover;
    // NOTE: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    .site-heading,
    .post-heading,
    .page-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 150px 0;
        }
    }
    .site-heading,
    .page-heading {
        text-align: center;
        h1 {
            margin-top: 0;
            font-size: 50px;
        }
        .subheading {
            font-size: 24px;
            line-height: 1.1;
            display: block;
            @include sans-serif-font;
            font-weight: 300;
            margin: 10px 0 0;
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }
    .post-heading {
        h1 {
            font-size: 35px;
        }
        .subheading,
        .meta {
            line-height: 1.1;
            display: block;
        }
        .subheading {
            @include sans-serif-font;
            font-size: 24px;
            margin: 10px 0 30px;
            font-weight: 600;
        }
        .meta {
            @include serif-font;
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            a {
                color: white;
            }
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
            }
            .subheading {
                font-size: 30px;
            }
        }
    }
}

// Post Preview Pages
.post-preview {
    > a {
        color: $gray-dark;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $theme-primary;
        }
        > .post-title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        > .post-subtitle {
            margin: 0;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    > .post-meta {
        color: $gray-light;
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        > a {
            text-decoration: none;
            color: $gray-dark;
            &:hover,
            &:focus {
                color: $theme-primary;
                text-decoration: underline;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        > a {
            > .post-title {
                font-size: 36px;
            }
        }
    }
}

// Sections
.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

// Contact Form Styles
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $gray-lighter;
    input,
    textarea {
        z-index: 1;
        position: relative;
        padding: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
        @include serif-font;
        &::-webkit-input-placeholder {
        	@include serif-font;
        	color: $gray-light;
        }
    }
    label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease, opacity 0.3s ease;
        -moz-transition: top 0.3s ease, opacity 0.3s ease;
        -ms-transition: top 0.3s ease, opacity 0.3s ease;
        transition: top 0.3s ease, opacity 0.3s ease;
    }
    .help-block {
        margin: 15px 0;
    }
}

.floating-label-form-group-with-value {
    label {
        top: 0;
        opacity: 1;
    }
}

.floating-label-form-group-with-focus {
    label {
        color: $theme-primary;
    }
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid $gray-lighter;
}

// Button Styles
.btn {
    @include sans-serif-font;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default {
    &:hover,
    &:focus {
        background-color: $theme-primary;
        border: 1px solid $theme-primary;
        color: white;
    }
}

// Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-primary;
}
