@import "mixins.scss";

.chart {
	height: 250px;
}

.chart-lg {
	height: 400px;
}

table.benchmark tr.selection {
	cursor: pointer;
}

table.benchmark {
  @include sans-serif-font;
  font-size: 11pt;
}

p.legend {
	font-style: italic;
	margin: 15px 0;
}

td.em {
	font-weight: bold;
}

.center {
	text-align: center
}