---
layout: default
title: The Love of God and of All Men
---

<!-- Automatically output the 5 latest posts following the format below. -->
{% for post in site.posts %}
<div class="post-preview">
    <a href="{{ post.url }}">
        <!-- <img src="/img/headers/front-page/bible-from-rawpixel.webp" class="post-preview-image" width="300px"
            height="200px"> -->
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.subtitle | strip_html }}
        </h3>
    </a>
    <p>
        Posted by
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        <a href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
<!-- <ul class="pager">
    <li class="next">
        <a href="/index/p2">Older Posts &rarr;</a>
    </li>
    <li class="previous">
        <a href="">&larr; Newer Posts</a>
    </li>
</ul> -->