---
layout: default
title: Thought Bites
---

<!-- Automatically outputs the 5 latest posts using limit:5 -->
{% assign posts = site.posts | where_exp: "item", "item.tags contains 'bite'" %}
{% for post in posts limit:5 %}
<div class="thought-bite">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <p>
            {{ post.content }}
        </p>
  
      <span class="post-meta">{% assign author = site.authors | where: 'short_name', post.author | first %}
            {% if author %}
            <a href="{{ author.url }}">{{ author.name }}</a>
            {% endif %}
      </span>
</div>
<hr>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    <li>
        <a href="archive">Post Archive</a>
    </li>
</ul>
