<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!-- If the page has an image set, and it isn't the homepage, set the page's intro header to the image that is set for that page. -->
{% if page.image && page.url != "/" %}
<header class="intro-header post-header" style="background-image: linear-gradient(0deg, #00000060, #00000060), url('/assets/images/headers/{{ page.image }}.webp');">
    {% else %}
    <header class="intro-header">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if page.url == "/" %}
                    {% include siteheading.html %}
                    {% else %}
                    {% include postheading.html %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if page.image_contributor and page.contributor_link %}
        {% include attribution.html %}
        {% endif %}
        <script>
            (function () {
                var cx = '013983193458560348448:lapt2plbyqi';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </header>