<script>
    function isArticleCached(articleId) {
        // Check if the article is stored in localStorage
        return localStorage.getItem(articleId) !== null;
    }

    // Add event listener to check offline status and update article transparency
    window.addEventListener('offline', updateArticleTransparency);
    window.addEventListener('online', updateArticleTransparency);

    // Function to update article transparency based on caching status
    function updateArticleTransparency() {
        var articleId = '{{ post.id }}';
        var articleContainers = document.querySelectorAll('.post-preview');

        articleContainers.forEach(function (articleContainer) {
            if (!isArticleCached(articleId) && navigator.onLine) {
                articleContainer.classList.add('offline');
            } else {
                articleContainer.classList.remove('offline');
            }
        });
    }

    // Initial check when the page loads
    window.addEventListener('DOMContentLoaded', updateArticleTransparency);
</script>