<script>
    function isArticleCached(articleId) {
        // Check if the article is marked as cached in localStorage
        const cachedArticles = JSON.parse(localStorage.getItem('cachedArticles')) || {};
        return cachedArticles[articleId] === true;
    }

    // Function to update article transparency based on caching status
    function updateArticleTransparency() {
        var articleContainers = document.querySelectorAll('.post-preview');

        articleContainers.forEach(function (articleContainer) {
            // Find the articleId for each specific article
            var articleId = articleContainer.querySelector('a').getAttribute('href');

            // Remove leading '/'
            articleId = articleId.replace(/^\//, '');

            if (!isArticleCached(articleId) && navigator.onLine) {
                articleContainer.classList.add('offline');
            } else {
                articleContainer.classList.remove('offline');
            }
        });
    }

    // Add event listener to check offline status and update article transparency
    window.addEventListener('offline', updateArticleTransparency);
    window.addEventListener('online', updateArticleTransparency);

    // Initial check when the page loads
    window.addEventListener('DOMContentLoaded', updateArticleTransparency);
</script>