<div class="site-heading">
    <h1>Sharing His Love</h1>
    <hr class="small">
    <span class="subheading">Doing my best to spread God's love to everyone</span>
    <script type="text/javascript" src="/assets/js/clean-blog.min.js"></script>
    <p class="tip" id="quote">Loading Idea...</p>
    <!-- <p class="tip"><a href="#" id="quote-share-link">Share Quote</a></p> -->
    <p class="tip">Ideas on how to share your light from <a href="https://lighttheworld.org"></a>LightTheWorld.org</p>
</div>