---
layout: archive
title: Archive by Date
---

<!-- Essentially sorting the posts by year and adding headings -->
{% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign group_names = "" %}
{% for group in grouped_posts %}
  {% assign group_names = group_names | append: group.name | append: "," %}
{% endfor %}
<!-- The keyword "reverse" after "sort" tells the code to put the newest date on top instead of the bottom. -->
{% assign sorted_group_names = group_names | split: "," | sort | reverse %}
{% for name in sorted_group_names %}
  {% assign group = grouped_posts | where: "name", name | first %}
  <h2 id="{{ group.name }}">{{ group.name }}</h2>
  <ul>
    {% for post in group.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> - <i>{{ post.date | date: "%B %-d, %Y" }}</i></li>
    {% endfor %}
  </ul>
{% endfor %}

<!-- may be implemented later when a system is figured out to simplify this process with variables or whatever is needed -->
<!-- <hr>
  <a href="#2023">2023</a>
  <a href="#2022">2022</a>
  <a href="#2021">2021</a>
  <a href="#2019">2019</a>
  <a href="#2018">2018</a>
  <a href="#2017">2017</a>
  <hr>

  <div class="year">
    <h1 id="2023">2023</h1>
    <h2><a href="/posts/2023/january/getting-to-know-nt">Getting To Know The New Testament</a> - January 5, 2023</h2>
    <a href="#">Back to Top</a>
  </div>
  <hr>
    
  <div class="year">
    <h1 id="2022">2022</h1>
    <h2><a href="/posts/2022/december/Christ-in-Christmas">Putting Christ in Christmas</a> - December 13, 2022</h2>
    <h2><a href="/posts/2022/june/God-directing-our-paths">God is Directing our Paths</a> - June 5, 2022</h2>
    <h2><a href="/posts/2022/april/thankful-for-service">Thankful for Service</a> - April 25, 2022</h2>
    <h2><a href="/posts/2022/april/im-thankful-for-apr-5-2022">I'm Thankful for April 5th, 2022</a> - April 5, 2022</h2>
    <a href="#">Back to Top</a>
  </div>
  <hr>
-->
