---
layout: archive
title: Archive by Title
---

<!-- Essentially sorting the posts by title and adding headings -->
{% assign grouped_posts = site.posts | group_by_exp: "post", "post.title | slice: 0, 1" %}
{% assign group_names = "" %}
{% for group in grouped_posts %}
  {% assign group_names = group_names | append: group.name | append: "," %}
{% endfor %}
{% assign sorted_group_names = group_names | split: "," | sort %}
{% for name in sorted_group_names %}
  {% assign group = grouped_posts | where: "name", name | first %}
  <h2 id="{{ group.name }}">{{ group.name }}</h2>
  <ul>
    {% for post in group.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> - <i>{{ post.date | date: "%B %-d, %Y" }}</i></li>
    {% endfor %}
  </ul>
{% endfor %}

<!-- may be implemented later when a system is figured out to simplify this process with variables or whatever is needed -->
<!-- <hr>
  <a href="#a">A</a>
  <a href="#c">C</a>
  <a href="#e">E</a>
  <a href="#f">F</a>
  <a href="#g">G</a>
  <a href="#i">I</a>
  <a href="#j">J</a>
  <a href="#l">L</a>
  <a href="#o">O</a>
  <a href="#p">P</a>
  <a href="#r">R</a>
  <a href="#t">T</a>
  <hr>

  <div class="letter">
    <h1 id="a">A</h1>
    <h2><a href="/posts/2018/march/april-2018-gc">April 2018 General Conference</a> - March 30, 2018</h2>
    <h2><a href="/posts/2019/march/gc">April 2019 General Conference</a> - March 31, 2019</h2>
    <a href="#">Back to Top</a>
  </div>
  <hr>
-->
