#container {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	font-size: 15px;
}

@media (max-width: 768px) {

	/* CSS styles for mobile devices */
	#container {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease;
	}

	#container.show {
		left: 0;
	}
}