<!DOCTYPE html>
<html lang="en">
    {{ head }}
    <body>
        <!-- Navigation-->
        {{ navbar }}
        <!-- Page Header-->
        {{ header }}
        <!-- Main Content -->
        {{ md-content }}
        <!-- Footer-->
        {{ footer }}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../assets/js/scripts.js"></script>
    </body>
</html>
