<!DOCTYPE html>
<html lang="en">
    {{ head }}
    <body>
        <!-- Navigation-->
        {{ navbar }}
        <!-- Page Header-->
        {{ header }}}
        <!-- Main Content -->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        { landing-page-content }
                    </div>
                </div>
            </div>
        </article>
        
        <!-- Footer-->
        {{ footer }}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../assets/js/scripts.js"></script>
    </body>
</html>
