---
layout: default
---

<!-- Thanks to the original pen and its creators: https://codepen.io/t_afif/pen/zYLeOLM?editors=1100 -->
<img class="profile-img"
    src="https://love-of-god-and-of-all-men.github.io/assets/images/profiles/{{ page.short_name }}.png"
    alt="photo of {{ page.name }}">

<h1>{{ page.name }}</h1>

{{ content }}

<h2>Posts</h2>
    {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
    {% for post in filtered_posts %}
    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endfor %}
