<!-- Default layout -->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="manifest" href="/manifest.json" />

   {% if page.is_post %}
   <meta name="description" content="{{ page.subtitle }}">
   <meta property="og:description" content="{{ page.subtitle }}" />
   <meta property="og:image"
      content="https://love-of-god-and-of-all-men.github.io/assets/images/headers/{{ page.image }}.webp" />
   <meta name="author" content="{{ page.author }}">
   {% else %}
   <meta name="description" content="Doing my best to spread God's love to everyone">
   <meta property="og:description" content="Doing my best to spread God's love to everyone" />
   <meta property="og:image" content="https://love-of-god-and-of-all-men.github.io/header-image.webp" />
   {% endif %}

   {% if page.url == "/" %}
   <meta name="google-site-verification" content="hlYP3FRvFCuR1tXGgIjeIddGUvDxcrxAUM87lp19mrI" />
   <meta name="msvalidate.01" content="41C763BE2681A36D3DCB8CC46F33A20F" />
   {% endif %}

   {% if page.noindex %}
   <meta name="robots" content="noindex">
   {% endif %}
   <meta name="theme-color" content="#FFFFFF">
   <link rel="icon" href="/favicon-512x512.png" />
   <meta property="og:url" content="https://love-of-god-and-of-all-men.github.io{{ page.url }}" />
   <meta property="og:title" content="{{ page.title }}" />
   <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

   <script>
      if (typeof navigator.serviceWorker !== 'undefined') {
         navigator.serviceWorker.register('sw.js');
      }
   </script>

   <title>{{ page.title }}</title>

   {% include bootstrap.html %}
   <link href="/assets/css/clean-blog.min.css" rel="stylesheet">
   <link href="/assets/css/menu.css" rel="stylesheet">
   <link rel="stylesheet" href="/assets/css/styles.css">

   {% include fonts.html %}

   {% if page.is_post %}
   {% include rich-results.html %}
   {% endif %}

   {% include print.html %}
</head>

<body onload="genTip()">
   <!-- Navigation -->
   <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
               data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Sharing His Love</a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               {% for item in site.data.navigation %}
               <li>
                  <a href="{{ item.link }}">
                     {{ item.name }}
                  </a>
               </li>
               {% endfor %}
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
   </nav>
   <!-- Page Header -->
   <!-- Set your background image for this header on the line below. -->
   <!-- If the page has an image set, and it isn't the homepage, set the page's intro header to the image that is set for that page. -->
   {% if page.image && page.url != "/" %}
   <header class="intro-header post-header"
      style="background-image: linear-gradient(0deg, #00000050, #00000050), url('/assets/images/headers/{{ page.image }}.webp');">
      {% else %}
      <header class="intro-header">
         {% endif %}
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {% if page.url == "/" %}
                  {% include siteheading.html %}
                  {% else %}
                  {% include postheading.html %}
                  {% endif %}
               </div>
            </div>
         </div>
         {% if page.image_contributor and page.contributor_link %}
         {% include attribution.html %}
         {% endif %}
         <script>
            (function () {
               var cx = '013983193458560348448:lapt2plbyqi';
               var gcse = document.createElement('script');
               gcse.type = 'text/javascript';
               gcse.async = true;
               gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(gcse, s);
            })();
         </script>
         <gcse:search></gcse:search>
      </header>
      <!-- Main Content -->
      <div class="container">
         <div class="row">
            <div id="posts" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               {% if page.url == "/" %} <!-- script is included only if it is on the homepage -->
               <!-- Below is a script that will get the quote displayed on the page at the current moment and allow it to be shared on various platforms (depending on the device's sharing capabilities) when the link is clicked -->

               <!-- Commenting out below code to make way for the Christmas sharing your light feature -->
               <!-- <script src="/assets/js/quote-share.js"></script> -->
               {% endif %}
               {{content}}
               {% includes offline-transparency.html %}
            </div>
         </div>
      </div>
      <!-- Footer -->
      <!-- Because of CSS rules in our Bootstrap code, anything with the class hidden-print will not be printed. -->
      <footer class="hidden-print">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                     <li>
                        <a href="mailto:loveofallblog@gmail.com" title="Send me an Email" target="_blank">
                           <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                           </span>
                        </a>
                     </li>
                     <li>
                        <a href="{{ site.url }}/feed.xml" target="_blank">
                           <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                           </span>
                        </a>
                     </li>
                  </ul>
                  <footer id="foot01" class="copyright"></footer>
                  <script src="/footer.js"></script>
               </div>
            </div>
         </div>
      </footer>
      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Theme JavaScript -->
      <script src="/assets/js/clean-blog.min.js"></script>
      <!-- Accordion JavaScript -->
      <script src="/assets/js/accordion.js"></script>
</body>

</html>