---
layout: default
---

{% include view-asl.html %}
<hr class="subheading">
{% include share.html %}

{{ content }}

<hr>

<!-- accordions from https://www.w3schools.com/howto/howto_js_accordion.asp -->
<button class="accordion btn btn-secondary">Comment</button>
<div class="panel">
  {% include comments.html %}
</div>

<hr>

<div class="alert alert-info text-center" role="alert">Want to learn more? Visit <a
    href="https://ComeUntoChrist.org">ComeUntoChrist.org</a> <span class="caption text-muted">(This site is not
    affiliated with ComeUntoChrist.org)</span></div>
