---
layout: default
---

<h2 class="subheading"><em>{{ page.subtitle }}</em></h2>
<hr class="subheading">

{{ content }}

<hr>

<!-- Figure out how to use logic to select a few tags -->
<!-- {% if page.tags contains "guidance" %} -->
<div class="alert alert-info" role="alert">Want to learn more? Visit <a
    href="https://ComeUntoChrist.org">ComeUntoChrist.org</a> <span class="caption text-muted">(This site is not
    affiliated with ComeUntoChrist.org)</span></div>
<!-- {% endif %} -->

{{ page.tags | inspect }}

{% if page.tags %}
<div class="post-tags hidden-print">
  {% for tag in page.tags %}
  <a href="{{ site.url }}/archive/tags#{{ tag | slugify }}" class="label label-primary">{{ tag }}</a>
  {% endfor %}
</div>
{% endif %}